<h3>Accountability</h3>

<p>
    The dataset was collected by the <a href="http://worldhappiness.report/faq/">
    United Nations Sustainable Development Solutions Network</a>. The original
    dataset is published <a href="http://worldhappiness.report/ed/2018/">here</a>,
    and our <a href="https://github.com/interactive-data-science-project-team/word-happiness-visualization/blob/master/input/cleaned_data.csv">
    cleaned version</a> is published on
    Github. We also share the
    <a href="https://github.com/interactive-data-science-project-team/word-happiness-visualization/blob/master/notebooks/data_cleaning.ipynb">data cleaning notebook</a>,
    and the <a href="https://github.com/interactive-data-science-project-team/world-happiness-visualization/blob/master/notebooks/Exploratory%20Data%20Analysis.ipynb">data exploratory analysis notebook</a>.
</p>