<h3>Correctness</h3>
<p>
    The data collected for this analysis mainly comes from two sources, the
    official statistics provided by international organizations like the
    World Bank and the World Health Organization, and survey responses from
    the Gallup World Poll. We can rely on the correctness of the data to
    some extent given the credibility of these organizations and that the
    methodologies used to collect data is subject to public review. For
    example, the methodology used by the World Bank to create the World
    Development Indicator is described <a
        href="https://datahelpdesk.worldbank.org/knowledgebase/articles/906531-methodologies">here</a>,
    and the methodology used for the Gallup World Poll is available <a
        href=" https://news.gallup.com/poll/165404/world-poll-methodology.aspx">here</a>.
    Also, some attributes are aggregated metrics themselves, such as "Democratic Quality",
    we can assume they exhibit low variance.
</p>