Covariate Regression Importance Plot

<form name="regPlotForm" ng-submit="$ctrl.plot($ctrl.regCols)">
    <div layout="row">
        <md-input-container flex-gt-sm="30">
            <label>X Axis</label>
            <md-select name="type" ng-model="$ctrl.col" required>
                <md-option ng-repeat="col in $ctrl.colNames"
                           value="{{ col }}">{{ col }}</md-option>
            </md-select>
        </md-input-container>

    </div>

    <md-button
               ng-click="$ctrl.addColumn($ctrl.col)">Add Column
    </md-button>

    <md-button type="submit">Plot</md-button>

    <md-chips ng-model="$ctrl.regCols" readonly="ctrl.readonly"
          md-removable="ctrl.removable">
    </md-chips>
</form>


<div layout="row" layout-align="center">
    <canvas id="bar" class="chart chart-bar"
            chart-data="$ctrl.data" chart-labels="$ctrl.labels"> chart-series="series"
    </canvas>
</div>
