Covariate Scatter Plot

<form name="scatterPlotForm" ng-submit="$ctrl.getScatterDatapoints()">
    <div layout="row" layout-sm="column">
        <md-input-container flex-gt-sm="50">
            <label>X Axis</label>
            <md-select name="type" ng-model="scatterPlot.colX" required>
                <md-option ng-repeat="col in $ctrl.colNames" value="{{ col }}">{{ col }}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex-gt-sm="50">
            <label>Y Axis</label>
            <md-select name="type" ng-model="scatterPlot.colY" required>
                <md-option ng-repeat="col in $ctrl.colNames" value="{{ col }}">{{ col }}</md-option>
            </md-select>
        </md-input-container>
    </div>

    <div>
        <md-button type="submit">Submit</md-button>
    </div>
</form>

<div layout="row" layout-align="center">
<canvas class="chart chart-bubble" chart-data="$ctrl.data"
        chart-options="$ctrl.options" ng-show="$ctrl.data" flex="80"></canvas>
</div>

<!--
<div google-chart chart="$ctrl.myChartObject" style="height: 600px"></div>
-->