<h3>Coherence</h3>
<p>
    The data is quite coherent. In the table below, we show the summary
    statistics for each continuous variable. The standard deviation for all
    the variables are relatively small, which suggest that we have very few
    outliers in the dataset.
</p>

{% include 'tables/summary_stats.html' %}

<p>
    In the pair plot below, we show the scatter plot between four covariates
    and their respective histogram. The plot shows that the covariates are
    correlated, which brings challenges for training regression models. Also,
    The histograms shows that the covariates skewed.
</p>

<img src="static/images/pairplot.png" class="img-fluid mx-auto d-block" alt="PairPlot">

<p>
    The histogram (below) of the happiness score resembles a normal distribution.
</p>

<img src="static/images/lifeladderhistplot.png" class="img-fluid mx-auto d-block" alt="PairPlot">