{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/styles/data_exploratory.css">
{% endblock %}

{% set active_page = "eda" %}

{% block title %}
    World Happiness Score Data Exploratory Analysis
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block content %}

    <h2>Introduction</h2>
    <hr>

    {% include 'data_exploratory/intro.html' %}

    <h2>About the Dataset</h2>
    <hr>

    {% include 'data_exploratory/about_dataset.html' %}


    <h2>Data Quality, Four C's</h2>
    <hr>

    {% include 'data_exploratory/data_quality/completeness.html' %}
    {% include 'data_exploratory/data_quality/coherence.html' %}
    {% include 'data_exploratory/data_quality/correctness.html' %}
    {% include 'data_exploratory/data_quality/accountability.html' %}

{% endblock %}
