<p>
    The dataset was collected by the <a href="http://unsdsn.org/">United
    Nations Sustainable Development
    Solutions Network</a> to produce the <a
        href="http://worldhappiness.report/">World Happiness Report</a>,
    its annual
    publication that surveys the state of global happiness. The dataset
    includes the happiness score for each country, their socioeconomic
    attributes such as the GDP per capita, social support and healthy life
    expectancy at birth, and the survey responses such as social support
    and freedom to make life choices. The data covers the years from 2005
    to 2017.
</p>

{% include 'tableau_viz/happiness_score_map.html' %}

